Flask==2.1.2
Flask-Cors==3.0.10
numpy>=1.14.0
pandas>=0.23.4
gdown>=3.10.1
tqdm>=4.30.0
Pillow>=5.2.0
opencv-python>=4.5.5.64
opencv-contrib-python>=4.3.0.36
tensorflow>=2.0.0
keras>=2.2.0
mtcnn>=0.1.0
lightgbm>=2.3.1
retina-face>=0.0.1
fire>=0.4.0
mediapipe>=0.8.10
deepface==0.0.75
